.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.crypto-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.crypto-container > div {
  /* background-color: antiquewhite;
  text-align: center;
  margin: 1em;
  padding: 2em;
  margin-bottom: 1em;
  width: 220px;
  height: 220px; */
  opacity: 0.7;
}

.crypto-container > div:hover {
  opacity: 5;
  cursor: pointer;
}

.crypto-link {
  text-decoration: none;
  color: #282c34;
  font-weight: bold;
}

.crypto-details {
  margin: 1%;
  margin-bottom: 10%;
  text-align: left;
}